@use '../helpers' as *;

.footer {
    background-color: var(--color-green);
    color: var(--color-light);

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(40);
        row-gap: rem(36);
        padding-block: rem(56);

        @include tablet {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__menu {
        &-list {
            display: flex;
            flex-wrap: wrap;
            column-gap: rem(28);
            row-gap: rem(14);

            @include tablet {
                flex-direction: column;
            }
        }

        &-link {
            color: var(--color-light);
            font-weight: 700;

            @include hover {
                color: var(--color-light);
                text-decoration: underline;
            }
        }
    }
}
